{% extends "base.html" %}

{% block title %}Home - Your App Name{% endblock %}

{% block content %}
<div class="container">
    <form method="POST" action="/logout" class="mt-3">
        <button type="submit" class="btn btn-danger">Logout</button>
    </form>
    <form method="POST" action="/login" class="mt-3">
        <button type="submit" class="btn btn-success">Login</button>
    </form>
    {% if posts_df is not none %}
    <div class="posts">
        <ul>
            {% for index, post in posts_df.iterrows() %}
            <div class="card">
                <div class="card-header">
                    {{ post["Topic"] }}:{{post["Type"]}}
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ post["Title"] }}</h5>
                    <span>Posted By: {{ post["PostedBy"] }}</span>
                    <p class="card-text">{{ post["Description"] }}</p>
                    <span>Status: {{ post["Status"] }}</span>
                    <br>
                    <span>
                        <form action="{{ url_for('upvote', post_id=post['PostID']) }}" method="post">
                            <button type="submit" class="btn btn-success">Upvote</button>
                        </form>
                        <span id="upvotes-{{ post['PostID'] }}">{{ post['Upvotes'] }}</span>
                    </span>
                    <span>
                        <form action="{{ url_for('downvote', post_id=post['PostID']) }}" method="post">
                            <button type="submit" class="btn btn-danger">Downvote</button>
                        </form>
                        <span id="downvotes-{{ post['PostID'] }}">{{ post['Downvotes'] }}</span>
                    </span>
                    <br>
                    <a href="/view_post/{{ post['PostID'] }}" class="btn btn-primary mt-3">View Post</a>
                </div>
            </div>
            {% endfor %}
        </ul>
    </div>
    {% else %}
    <p>No posts available.</p>
    {% endif %}
</div>
{% endblock %}