{% extends "base.html" %}

{% block title %}Organization Info - Your App Name{% endblock %}

{% block content %}
<div class="container mt-4">

    <div class="row mt-3">
        <div class="col">
            {% if other_organizations is not none %}
            <div class="card">
                <div class="card-header">
                    <h4>Organizations</h4>
                </div>
                <ul class="list-group list-group-flush">
                    {% for index, org in other_organizations.iterrows() %}
                    <li class="list-group-item">
                        <div class="card" id="org-{{ org['OrganizationID'] }}">
                            <div class="card-header">
                                {{ org["Name"] }}
                            </div>
                            <img src="{{ org['logo'] }}" alt="Organization Logo" width="100" height="100">
                            <div class="card-body">
                                <p class="card-text">Description: {{ org['Description'] }}</p>
                                <p class="card-text">Contact Information: {{ org['ContactInformation'] }}</p>
                                <p class="card-text">Location: {{ org['Location'] }}</p>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% else %}
            <p>No organization related to the user.</p>
            {% endif %}
        </div>
    </div>
</div>

<script>
    // JavaScript to scroll to the specific organization card
    window.onload = function () {
        var orgId = "{{ org_id }}"; // Make sure it's a string, enclosed in double quotes
        console.log(orgId);
        if (orgId) {
            var orgElement = document.getElementById("org-" + orgId);
            if (orgElement) {
                orgElement.scrollIntoView();
            }
        }
    };
</script>


{% endblock %}
