{% extends "base.html" %}

{% block title %}Organization Info - Your App Name{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row mt-3">
        <div class="col">
            <h1 class="display-4">Organizations</h1>
            <br>
            {% if other_organizations is not none %}
            
                <div class="card">
                    <ul class="list-group list-group-flush">
                        {% for index, org in other_organizations.iterrows() %}
                            <div class="card text-left" id="org-{{ org['OrganizationID'] }}">
                                <div class="card-header">
                                    <h5>{{ org["Name"] }}</h4>
                                </div>
                                <!-- <img src="{{ org['logo'] }}" alt="Organization Logo" class="card-img-top"> -->
                                <div class="card-body">
                                    <h5 class="card-title">Location: {{ org['Location'] }}</h5>
                                    <p class="card-text mb-3">Description: {{ org['Description'] }}</p>
                                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                                </div>
                                <div class="card-footer text-muted">
                                    <p class="card-text mb-3">Contact Information: {{ org['ContactInformation'] }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </ul>
                </div>
            {% else %}
            <p class="mt-3">No organizations related to the user.</p>
            {% endif %}
        </div>
    </div>
</div>
<style>
    .card.text-left {
        text-align: left;
    }
</style>

<script>
    // JavaScript to scroll to the specific organization card
    window.onload =("DOMContentLoaded", function () {
        var orgId = "{{ org_id }}";
        console.log(orgId);
        if (orgId == "0") {
            return;
        }
        if (orgId) {
            var orgElement = document.getElementById("org-" + orgId);
            console.log(orgElement)
            if (orgElement) {
                orgElement.scrollIntoView({ behavior: 'smooth', block: 'center' });
            }
        }
    });
</script>

{% endblock %}
